<div class="links p-3">
  <h1>Kentucky Derby Links</h1>
  <hr />
  <div>
    <div class="my-3">
      <a href="https://www.kentuckyderby.com/" target="_blank"
        >Kentucky Derby's Official Site</a
      >
      - Everything you need to know to get ready for the big day.
    </div>
    <div class="my-3">
      <a href="https://www.kentuckyderby.com/horses" target="_blank"
        >2019 Kentucky Derby Horses</a
      >
      - Leaderboard based on qualifying points for Kentucky Derby.
    </div>
    <div class="my-3">
      <a href="https://www.kentuckyderby.com/horses/prep-races" target="_blank"
        >2019 Kentucky Derby Prep Races</a
      >
      - Official list of all Kentucky Derby qualifying races.
    </div>
    <div class="my-3">
      <a href="http://www.equibase.com/static/chart/pdf/index.html?SAP=TN" target="_blank"
        >Equibase - Race Results</a
      >
      - Horse Racing with Entries on future races, Results from past races and
      so much more.
    </div>
    <div class="my-3">
      <a href="https://www.twinspires.com/" target="_blank">TwinSpires</a>
      - Horse Racing Site for OTB and to watch live racing for select tracks.
    </div>
    <div class="my-3">
      <a href="https://www.tvg.com/" target="_blank">TVG</a>
      - Horse Racing Site for OTB and to watch live racing for select tracks.
      Also broadcast on a DirectTV channel (602).
    </div>
  </div>
</div>
